{% extends '::layout.html.twig' %}
{% block ngApp %}{% endblock %}
{% block breadcrumb %}
    <li>Settings</li>
    <li>
        <a href="{{ path('elcweb_keyvaluestore_default_index') }}">Key Value Store</a>
    </li>
    <li class="active">{{ actionName }}</li>
{% endblock %}

{% block content %}
    <div class="col-md-2">
        {{ form(form) }}
    </div>
{% endblock %}
